/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.custom-table > tr > th {
    background-color: rgba(24, 144, 255, 1); 
    color: white; 
}

/* Tambahkan di file CSS global */
.ant-table-thead > tr > th {
    background-color: #1890FF !important;
    color: white !important;
  }

.card-table .ant-table-thead > tr > th {
    background-color: #EEEEEE !important;
    color: #001529 !important;
}
.ant-upload{
    width: 100%;
}

.redo-button {
    background-color: #f44336;
}

.redo-button:hover {
    background-color: #f44336ce !important;
}

.approve-button {
    background-color: #4caf50;
}

.approve-button:hover {
    background-color: #4caf50ce !important;
}